<router-outlet></router-outlet>
<app-bar></app-bar>
<div style="width: 300px; text-align: center;">
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
        <i class="fas fa-filter" style="font-size: 16px; margin-right: 5px;"></i>
        <h2 style="font-size: 16px; margin: 0;">Collaborations/MOU</h2>
    </div>
    <canvas id="collaborationsPieChart">{{myPieChart}}</canvas>
</div>
<div style="text-align: left; margin-top: 10px; padding-left: 85px;">
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; margin-bottom: 5px;">
            <div style="display: flex; align-items: center; margin-right: 10px;">
                <span style="display: inline-block; width: 10px; height: 10px; background-color: blue; margin-right: 5px;"></span>
                <span style="font-size: 12px;">2022-21</span>
            </div>
            <div style="display: flex; align-items: center; margin-right: 10px;">
                <span style="display: inline-block; width: 10px; height: 10px; background-color: orange; margin-right: 5px;"></span>
                <span style="font-size: 12px;">2021-22</span>
            </div>
        </div>
        <div style="display: flex;">
            <div style="display: flex; align-items: center; margin-right: 10px;">
                <span style="display: inline-block; width: 10px; height: 10px; background-color: grey; margin-right: 5px;"></span>
                <span style="font-size: 12px;">2022-23</span>
            </div>
            <div style="display: flex; align-items: center;">
                <span style="display: inline-block; width: 10px; height: 10px; background-color: yellow; margin-right: 5px;"></span>
                <span style="font-size: 12px;">2023-24</span>
            </div>
        </div>
    </div>
</div>
